<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BA102G1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>restMemberServlet</servlet-name>
    <servlet-class>com.restMember.controller.restMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>restMemberServlet</servlet-name>
    <url-pattern>/restMember/restMemberController</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>restaurantServlet</servlet-name>
    <servlet-class>com.restaurant.controller.restaurantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>restaurantServlet</servlet-name>
    <url-pattern>/restaurant/restaurantController</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>activityServlet</servlet-name>
  	<servlet-class>com.activity.controller.activityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>activityServlet</servlet-name>
  	<url-pattern>/activity/activityController</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>